.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 80%;
  max-width: 800px;
  background: white;
  border-radius: 8px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-header {
  background-color: green;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}

.close-modal {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 10px;
}

.modal-body {
  padding: 20px;
}